<%= simple_form_for @pessoa, :html => { :class => 'form-horizontal' }, :url => wizard_path, :method => :put do |f| %>
  <%= f.input :nome %>
  <%= f.input :data_nascimento %>
  <%= f.input :sexo %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                pessoas_path, :class => 'btn' %>
  </div>
<% end %>
