<%- model_class = Celula -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nome) %>:</strong></dt>
  <dd><%= @celula.nome %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_nascimento) %>:</strong></dt>
  <dd><%= @celula.data_nascimento %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              igreja_celulas_path(@igreja), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_igreja_celula_path(@igreja, @celula), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              igreja_celula_path(@igreja, @celula),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
